/* Allgemein */
h1 {
	font-family: Arial, sans-serif;
	font-size: 16px;
}
h2 {
	font-family: Arial, sans-serif;
	font-size: 14px;
}
p {
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 120%;
}

/* Seite */
body {
	margin: 0px;
	paddin: 0px;
}

/* Kopf */
#header {
	margin: 20px 0px;
	text-align: center;
}
#header img {
	width: 30px;
}

/* Karte */
#map {
	width: 100%;
	height: 400px;
	font-family: Arial, sans-serif;
}

/* Statistik + Footer */
#best {
	margin: 20px;
}